POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
CATALOG_DB=catalogdb
CART_DB=cartdb
ORDER_DB=orderdb
WAREHOUSE_DB=warehousedb
PAYMENT_DB=paymentdb
SHIPPING_DB=shippingdb
USER_DB=userdb
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
ASPNETCORE_ENVIRONMENT=Development
